<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159233035566-cckrk9n11s860499oifif8a14bh4cagi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159233035566-cckrk9n11s860499oifif8a14bh4cagi</string>
	<key>API_KEY</key>
	<string>AIzaSyDzsUL7ETlppPenFmg3XRJkfvcL2gsNegM</string>
	<key>GCM_SENDER_ID</key>
	<string>159233035566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.charla</string>
	<key>PROJECT_ID</key>
	<string>charla24-7</string>
	<key>STORAGE_BUCKET</key>
	<string>charla24-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159233035566:ios:d5a0f9919bb9ddf8497ebf</string>
</dict>
</plist>